@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-black: #212121;
  --color-white: #F5F5F5;
  --color-blue: #2979FF;
  --color-red: #D32F2F;
  --color-gray: #757575;
}


// Agrega esto en tu CSS global
@keyframes slideInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOutDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(20px);
    opacity: 0;
  }
}

.animate-slide-in {
  animation: slideInUp 0.3s ease-out forwards;
}

.animate-slide-out {
  animation: slideOutDown 0.3s ease-out forwards;
}